:root {
    --header-width: 15rem;
    --primary-width: 40rem;
    --sidebar-width: 25rem;
}


body {
  background-color: black;
  color: #E7E9EAFF;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  color: #E7E9EAFF;
}

.border-0 {
  border-color: #494949 !important;
}

header {
  margin-left: 5rem;
  width: var(--header-width);
}

main {
  left: 20rem;
}

#primary-column {
  width: var(--primary-width);
}

#sidebar-column {
  width: var(--sidebar-width);

}

.nl-overlay-blur {
  margin: 0;

  background: black;
  background: rgba(0, 0, 0, 0.3);

  backdrop-filter: blur(1.5em);
}

.nl-page-name {
  width: var(--primary-width);
  padding: 0.3rem 3rem;
  font-weight: 600;
  font-size: 1.5rem;
  height: 3rem;
}

.nl-cabinet-head {
  height: 10rem;
  width: var(--primary-width);
}

.nl-avatar-small {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.nl-avatar-big {
  width: 150px;
  height: 150px;
  margin-top: -10%;
  border-radius: 100%;
  border: black 5px solid;
}

.nl-button {
  color: #363c41;
  font-size: 1rem;
  border: 0;
  border-radius: 100%;
  background-color: black;
  transition: 0.2s ease-out;
}

.nl-medium-button {
  color: #E7E9EAFF;
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
}

.nl-small-button {
  width: 30px;
  height: 30px;
  font-size: 16px;
}

.nl-bg-hover:hover {
  color: #E7E9EAFF;
  background-color: #363c41;
}

input:not([type='submit'], [type='checkbox'], [type='file']), textarea {
  color: #E7E9EAFF;
  padding: 0.3rem 0.5rem 0.5rem 0.5rem;
  background-color: #363c41;
  border-color: #363c41;
  font-size: 1rem;
  transition: .15s ease-in-out;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  outline-width: 0px;
}

input:not([type='submit'], [type='checkbox'], [type='file']):hover,
input:not([type='submit'], [type='checkbox'], [type='file']):focus,
textarea:hover,
textarea:focus {
  background-color: black;
  border-color: #55b6f1;
}

.nl-input input[type]{

}

.nl-input {

}

.nl-blue {color: #55b6f1;}.nl-red {color: #f15555;}.nl-green {color: #55f18c;}

.nl-blue-hover:hover { color: #55b6f1;}  .nl-red-hover:hover {color: #f15555;}  .nl-green-hover:hover {color: #55f18c;}